{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="{% static 'recipeservice/css/style.css' %}">
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>

    <h3>Instructions:</h3>
    <p>{{ recipe.instructions }}</p>

    <a href="{% url 'recipe_list' %}">Back to Recipe List</a>
</body>
</html>
