{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recipeservice/css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
</head>
<body>
    <h1 id="title">Recipe List</h1>
    <ul>
        {% for recipe in recipes %}
        <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
    <script src="{% static 'recipeservice/js/script.js' %}"></script>
</body>
</html>
